@menuHeight: 70px;

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: block;
  padding: 0;
  &.Gallery{
    overflow-y: auto;
  }
}

.row {
  .col {
    &.draw {
      display: inline-block;
      margin-top: @menuHeight;
      padding: 0;
      height: 100%;
      position: relative;
      top: 0;
      bottom: 0;
      width: 100%;
    }

    &.control {
      height: @menuHeight;
      width: 100%;
      display: inline-block;
      position: fixed;

      .list-group {
        position: fixed;
      }

      h2 {
        font-size: 16px;
      }
    }
  }
}

nav {
  z-index: 9999;

  a {
    .sidenav-trigger {
      display: block;
    }
  }

  .nav-wrapper {
    z-index: 9999;
    position: relative;

    ul {
      li {
        position: relative;
      }
    }
  }
}


.submenu {
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 5%;
}

ul.collection {
  overflow: visible;

  li.collection-item {
    padding: 30px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex: 1;

    .flex-item {
      width: 100%
    }

    span {
      &.first {
        flex-direction: column;
        float: none;
        flex: 1;
        width: 100%;
      }

      &.second {
        width: 60px;
        padding: 0;
        border: 1px solid #e2e2e2;
        display: flex;
        height: 60px;
        align-items: center;
        justify-content: center;
        margin-left: 30px;
      }
    }
  }
}

#slider-range {
  width: 100%;
  background: gray;
  height: 5px;
  border-radius: 50px;

  .ui-slider-horizontal .ui-slider-handle {

  }

  .noUi-handle {
    border-radius: 50%;
    background-color: #26a69a;
    top: -8px;
    width: 20px;
    height: 20px;
    box-shadow: none;
    border: solid 2px #26a69a;
    cursor: pointer;

    &.noUi-active {
      box-shadow: 0px 2px 5px;
      border: solid 2px #1d7b73;
    }
  }

  .noUi-handle:after, .noUi-handle:before {
    content: none;
  }
}

span {
  position: relative;
  text-align: center;
}

input.jscolor {
  display: inline-block;
  position: relative;
  height: 100%;
  opacity: 1;
  cursor: pointer;
  border-bottom: none;
  width: 75px;
  text-align: center;
}

.flex-item {
  display: inline-flex;
  align-items: center;
}

.content {
  overflow: hidden;
  border-radius: 0px;
  height: 100%;
  width: 100%;
  background-color: #e2e2e2;
  margin: auto;
  position: relative;
}

#canvas {

}

.js-toggle-show {
  display: none;
}

.list-group-item {
  margin: auto;
}

.controller {
  .left {
    width: 50%;
  }

  .right {
    left: 50%;
  }

}

.pointervalue {
  position: absolute;
  top: 32px;
  margin: 0;
  padding: 0;
  border: solid 1.5px;
  border-radius: 50%;
  font-weight: 600;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 10px;
  color: white;
  line-height: 16px;
  right: 5px;
}

.card {
  .card-image {
    height: 220px;
    overflow: hidden;
    height: 220px;
    overflow: hidden;
    display: flex;
    object-fit: cover;
    flex-flow: row;
  }

  .card-image img {
    border-radius: 2px 2px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-content{
    p{
      margin: 0;
      text-overflow: ellipsis;
      height: 55px;
      overflow: hidden;
      justify-content: flex-start;
      display: flex;
      align-items: center;
    }
  }
  .imgtocanvas {
    line-height: 36px;
  }

  .select {
    display: none;
  }

  .link {
    display: block;
  }

  &.active {
    .select {
      display: block;
    }

    .link {
      display: none;
    }
  }

}

.popup {
  position: fixed;
  top: @menuHeight;
  left: 0;
  display: none;
  width: 350px;

  p {
    margin: 0;
  }
}

.small {
  font-size: 12px;
}


.profile {
  display: flex;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  border: solid 2px #e2e2e2;
  width: 60px;

  img {
    display: flex;
    object-fit: cover;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
}

.sidenav {
  li {
    &.user {
      padding: 0 15px;
      margin-bottom: 0;
    }
  }
}

.form {
  background-image: url(/img/canvas.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .container {
    width: 100%;
    padding: 0;
    margin: 0;
    max-width: none;

    .flex-item {
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: rgba(255, 255, 255, .6);

      label {
        font-size: 1rem;
        color: black;
      }

      input {
        padding: 5px;
      }
    }
  }
}

@media only screen and (min-width: 993px) {
  nav a.sidenav-trigger {
    display: block;
  }
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    left: 0;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}